<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.epsilon.common.dt.tool">
      <tool
            class="archtoring.tools.IssuesTool"
            defaultName="IssuesTool">
      </tool>
   </extension>
   <extension
         id="archtoring"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="archtoring.Application">
         </run>
      </application>
   </extension>
</plugin>
