<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 	<extension point="org.eclipse.ui.menus">
	    <menuContribution locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
	      <command commandId="archtoring.commands.Model"
	        label="Extract model" style="push" mnemonic="M">
	      </command>
	       <command commandId="archtoring.commands.Patterns"
	        label="Run Search" style="push" mnemonic="S">
	      </command>
	    </menuContribution>
  	</extension>
  	<extension point="org.eclipse.ui.commands">
		<command
			defaultHandler="archtoring.handlers.ModelHandler"
			id="archtoring.commands.Model"
			name="Model">
	  	</command>
	  	<command
			defaultHandler="archtoring.handlers.ModelHandler"
			id="archtoring.commands.Patterns"
			name="Search">
	  	</command>
	</extension>
</plugin>