<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 	<extension point="org.eclipse.ui.menus">
	   <menuContribution locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
       <menu
             label="Archtoring"
             mnemonic="A"
             tooltip="Refactoring steps">
           <command
	       		commandId="archtoring.commands.Rules"
	            label="Import rules from CSV"
	            mnemonic="R"
	            style="push">
           </command>
          <command
                commandId="archtoring.commands.Model"
                label="Extract model"
                mnemonic="M"
                style="push">
          </command>
          <command
                commandId="archtoring.commands.Patterns"
                label="Run Search"
                mnemonic="S"
                style="push">

          </command>
          <command
                commandId="archtoring.commands.Generation"
                label="Convert to Source"
                mnemonic="G"
                style="push">
             <visibleWhen>
                <with
                      variable="activeMenuSelection">
                   <iterate
                         ifEmpty="false">
                      <adapt
                            type="org.eclipse.core.resources.IResource">
                         <test
                               property="org.eclipse.core.resources.name"
                               value="*.xmi">
                         </test>
                      </adapt>
                   </iterate>
                </with>
             </visibleWhen>
          </command>
       </menu>
	   </menuContribution>
  	</extension>
  	<extension point="org.eclipse.ui.commands">
		<command
			defaultHandler="archtoring.handlers.ModelHandler"
			id="archtoring.commands.Model"
			name="Model">
	  	</command>
	  	<command
			defaultHandler="archtoring.handlers.EPLHandler"
			id="archtoring.commands.Patterns"
			name="Search">
	  	</command>
	  	<command
			defaultHandler="archtoring.handlers.GenerationHandler"
			id="archtoring.commands.Generation"
			name="Transform">
	  	</command>
	  	<command
			defaultHandler="archtoring.handlers.RulesHandler"
			id="archtoring.commands.Rules"
			name="Rules">
	  	</command>
	</extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="/Archtoring.categoryWizard"
            class="archtoring.wizard.RulesWizard"
            id="Archtoring.rulesWizard"
            name="Generate new SonarQube Refactoring plugin project"
            project="true">
      </wizard>
      <category
            id="Archtoring.categoryWizard"
            name="Archtoring">
      </category>
   </extension>
   <extension
         id="archtoring.sonarqubePlugin"
         name="SonarQube Plugin"
         point="org.eclipse.core.resources.natures">
         <runtime>
            <run
                  class="archtoring.wizard.SonarQubeProjectNature">
            </run>
         </runtime>
   </extension>
   <extension point="org.eclipse.sirius.componentization">
    <component class="archtoring.sirius.Activator"
               id="rules.refactoring.sirus"
	       name="project">
    </component>
  </extension>
</plugin>
